@using QuizApp.UI.ViewModel
@model ExternalLoginListViewModel

@if (Model.Count == 0)
{
    <div>
        <p>There are no external authentication services configured. 
    </div>
}
else
{
    <div class="block">
        <div class="head">
            <h2>Log in using another service</h2>
            <ul class="buttons">
                <li><a href="#" onclick=" source('form_default'); return false; ">
                        <div class="icon">
                            <span class="ico-info"></span>
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>

    <div class="widgets" id="externalLoginWidgets">
        @foreach (ExternalLoginViewModel loginViewModel in Model)
        {
            using (Html.BeginForm("ExternalLogin", "Account", new { Provider = loginViewModel.AuthenticationClientData.DisplayName, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,htmlAttributes:new 
                {style="float:left"}))
            {
                @Html.AntiForgeryToken()
                <a id="@loginViewModel.AuthenticationClientData.DisplayName" class="swidget" href="#">
                    <div class="value">
                        <span aria-hidden="true"></span>
                    </div>
                </a>
            }
        }
    </div>
}
