@model QuizApp.UI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "../Shared/_LayoutPageWithSideBar.cshtml";
}

<div class="block">
    <div class="head"></div>
    <div class="data-fluid">
        
    </div>
</div>



<p class="message-success">@ViewBag.StatusMessage</p>

<div class="row-fluid">
    <div class="span6">
        @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
    </div>
    <div class="span6">
        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
            @Html.Action("RemoveExternalLogins")
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#validateChangePasswordForm').validationEngine('attach', { promptPosition: "topLeft" });
            $('#hidePromptChangePasswordForm').on('click', function () {
                $('#validateChangePasswordForm').validationEngine('hide');
            });
        });
    </script>
}
