@using QuizApp.UI.ViewModel
@model QuizApp.UI.Models.CourseInfo
@{
    ViewBag.Title = @Model.Name;
    ViewBag.SubTitle = "YOUR COURSE PAGE IS HERE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("_PageHeaderPartial")

@section Sidebar
{
    <div class="row-fluid">
     <div id="tree"></div>

</div>
}

@section Scripts_MasterLayout
{
   @Scripts.Render("~/Scripts/ViewScripts/CourseStructure")
}