@model QuizApp.UI.Models.CourseInfoModel

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutPageWithSideBar.cshtml";
}
<div class="content">
<div class="row-fluid">
        <div class="widgets">
            <div class="widget blue value">
                <div class="left">468</div>
                <div class="right">1 Some text h…<br/>2 Some text h…<br/>3 Some<br/>4 Some text h…<br/>5 Some<br/></div>
                <div class="bottom"><a href="#">Some link for widget</a></div>
            </div>
            <div class="widget blue icon">
                <div class="left"><div class="icon"><span class="ico-archive"></span></div></div>
                <div class="right"><table width="100%"></table></div>
                <div class="bottom">dfdf</div>
             </div>
           @* <div class="widget green icon"></div>
            <div class="widget purple chart"></div>
            <div class="widget orange chart"></div>
            <div class="widget yellow chart"></div>
            <div class="widget red chart"></div>*@
        </div>
</div>


<div class ="row-fluid">
    <div class="cards">
        @* <div class="card blue value">
             <div class="left">123</div>
             <div class="right"> asfsd sdfsd</div>
            <div class="bottom">Caption green</div>
            
        </div>*@
        <div class="card green icon">
            <div class="left"><div class="icon"><span class ="ico-monitor"/></div></div>
            <div class="right">asfsd sdfsd<br/>sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d <br/>asfsd sdfsd<br/>sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d <br/></div>
            <div class="bottom"><a href="#">caption green</a></div>
        </div>
    </div>
    
</div>
<div class ="row-fluid">
    
</div>
</div>
@section Scripts
{
    @*@Scripts.Render("~/Scripts/ViewScripts/Feedback")*@
}
