@model QuizApp.UI.Models.CourseInfoModel

@{
    ViewBag.Title = "Courses";
    ViewBag.SubTitle = "FIND ALL YOUR COURSES HERE";
    Layout = "~/Views/Shared/_LayoutPageWithSideBar.cshtml";
}

<div class ="row-fluid">
    <div class="cards">
        <div class="card green icon">
            <div class="top">Caption</div>
            <div class="left"><div class="icon"><span class ="ico-monitor"/></div></div>
            <div class="right">asfsd sdfsd sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d sfsd sdfsds dgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d</div>
            <div class="bottom"><a href="#">caption green</a></div>
        </div>
        <div class="card blue icon">
            <div class="top">Caption</div>
            <div class="left"><div class="icon"><span class ="ico-monitor"/></div></div>
            <div class="right">asfsd sdfsd sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d sfsd sdfsds dgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d</div>
            <div class="bottom"><a href="#">caption green</a></div>
        </div>
        <div class="card yellow icon">
            <div class="top">Caption</div>
            <div class="left"><div class="icon"><span class ="ico-monitor"/></div></div>
            <div class="right">asfsd sdfsd sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d sfsd sdfsds dgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d</div>
            <div class="bottom"><a href="#">caption green</a></div>
        </div>
        <div class="card orange icon">
            <div class="top">Caption</div>
            <div class="left"><div class="icon"><span class ="ico-monitor"/></div></div>
            <div class="right">asfsd sdfsd sdgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d sfsd sdfsds dgsd.dsgsgsgsd sdgsg sdgsdg sdgsdg sdgsdfsd sdgsdg sdgsdg sdgsdg sdgsdgs we d</div>
            <div class="bottom"><a href="#">caption green</a></div>
        </div>
    </div>
    
</div>


@section Scripts
{
    @*@Scripts.Render("~/Scripts/ViewScripts/Feedback")*@
}
