    <div class="page-header">
        <div class="wrap-title">
            <div class="icon">
                <span class="ico-arrow-right"></span>
            </div>
            <h1>@ViewBag.Title <small>METRO STYLE ADMIN PANEL</small></h1>
        </div>
        @* Breadcrumbs Start *@

        @Html.Partial("_BreadCrumPartial")

        @* Breadcrumbs End *@

    </div>

