@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.ico-cabinet:before, .ico-cabinet-2:before, .ico-file:before, .ico-file-2:before, .ico-file-3:before, .ico-files:before, .ico-phone:before, .ico-tablet:before, .ico-window:before, .ico-monitor:before, .ico-film:before, .ico-inbox:before, .ico-download:before, .ico-upload:before, .ico-inbox-2:before, .ico-cog:before, .ico-cogs:before, .ico-cog-2:before, .ico-warning:before, .ico-picture:before, .ico-pictures:before, .ico-pictures-2:before, .ico-alarm-clock:before, .ico-time:before, .ico-checkmark:before, .ico-cancel:before, .ico-eye:before, .ico-site-map:before, .ico-site-map-2:before, .ico-cloud:before, .ico-upload-2:before, .ico-chart:before, .ico-chart-2:before, .ico-chart-3:before, .ico-chart-4:before, .ico-chart-5:before, .ico-chart-6:before, .ico-location:before, .ico-download-2:before, .ico-folder:before, .ico-alarm:before, .ico-alarm-cancel:before, .ico-phone-2:before, .ico-phone-3:before, .ico-image:before, .ico-open:before, .ico-sale:before, .ico-direction:before, .ico-map:before, .ico-trashcan:before, .ico-vote:before, .ico-lab:before, .ico-locked:before, .ico-unlocked:before, .ico-locked-2:before, .ico-unlocked-2:before, .ico-magnifier:before, .ico-zoom-in:before, .ico-zoom-out:before, .ico-stack:before, .ico-stack-2:before, .ico-stack-3:before, .ico-archive:before, .ico-battery:before, .ico-battery-2:before, .ico-battery-3:before, .ico-battery-4:before, .ico-battery-5:before, .ico-megaphone:before, .ico-megaphone-2:before, .ico-patch:before, .ico-pil:before, .ico-injection:before, .ico-thermometer:before, .ico-lamp:before, .ico-lamp-2:before, .ico-lamp-3:before, .ico-cube:before, .ico-box:before, .ico-box-2:before, .ico-diamond:before, .ico-bag:before, .ico-money-bag:before, .ico-grid:before, .ico-grid-2:before, .ico-list:before, .ico-list-2:before, .ico-ruler:before, .ico-ruler-2:before, .ico-layout:before, .ico-layout-2:before, .ico-layout-3:before, .ico-layout-4:before, .ico-layout-5:before, .ico-layout-6:before, .ico-layout-7:before, .ico-layout-8:before, .ico-layout-9:before, .ico-layout-10:before, .ico-layout-11:before, .ico-layout-12:before, .ico-layout-13:before, .ico-layout-14:before, .ico-tools:before, .ico-screwdriver:before, .ico-paint:before, .ico-hammer:before, .ico-brush:before, .ico-pen:before, .ico-chat:before, .ico-comments:before, .ico-chat-2:before, .ico-chat-3:before, .ico-volume:before, .ico-volume-2:before, .ico-volume-3:before, .ico-equalizer:before, .ico-resize:before, .ico-resize-2:before, .ico-download-3:before, .ico-stats:before, .ico-stats-2:before, .ico-attachment:before, .ico-hourglass:before, .ico-pencil:before, .ico-pen-2:before, .ico-pin:before, .ico-pin-2:before, .ico-discout:before, .ico-edit:before, .ico-scissors:before, .ico-profile:before, .ico-rotate:before, .ico-rotate-2:before, .ico-reply:before, .ico-forward:before, .ico-retweet:before, .ico-shuffle:before, .ico-loop:before, .ico-crop:before, .ico-dollar:before, .ico-dollar-2:before, .ico-coins:before, .ico-pig:before, .ico-bookmark:before, .ico-bookmark-2:before, .ico-address-book:before, .ico-address-book-2:before, .ico-safe:before, .ico-envelope:before, .ico-envelope-2:before, .ico-heart:before, .ico-info:before, .ico-info-2:before, .ico-book:before, .ico-book-2:before, .ico-barcode:before, .ico-barcode-2:before, .ico-expand:before, .ico-collapse:before, .ico-pop-out:before, .ico-pop-in:before, .ico-cone:before, .ico-blocked:before, .ico-stop:before, .ico-keyboard:before, .ico-printer:before, .ico-checked:before, .ico-error:before, .ico-add:before, .ico-minus:before, .ico-alert:before, .ico-pictures-3:before, .ico-atom:before, .ico-eyedropper:before, .ico-globe:before, .ico-globe-2:before, .ico-shipping:before, .ico-ying-yang:before, .ico-compass:before, .ico-zip:before, .ico-zip-2:before, .ico-tags:before, .ico-heart-2:before, .ico-heart-3:before, .ico-usb:before, .ico-clipboard:before, .ico-clipboard-2:before, .ico-clipboard-3:before, .ico-switch:before, .ico-ruler-3:before, .ico-glass:before, .ico-music:before, .ico-search:before, .ico-envelope-3:before, .ico-heart-4:before, .ico-star:before, .ico-star-empty:before, .ico-user:before, .ico-film-2:before, .ico-th-large:before, .ico-ok:before, .ico-remove:before, .ico-zoom-in-2:before, .ico-zoom-out-2:before, .ico-off:before, .ico-signal:before, .ico-cog-3:before, .ico-trash:before, .ico-home:before, .ico-file-4:before, .ico-time-2:before, .ico-road:before, .ico-download-alt:before, .ico-download-4:before, .ico-upload-3:before, .ico-inbox-3:before, .ico-play-circle:before, .ico-repeat:before, .ico-refresh:before, .ico-list-alt:before, .ico-lock:before, .ico-flag:before, .ico-volume-off:before, .ico-volume-down:before, .ico-volume-up:before, .ico-qrcode:before, .ico-barcode-3:before, .ico-tag:before, .ico-tags-2:before, .ico-book-3:before, .ico-bookmark-3:before, .ico-print:before, .ico-align-left:before, .ico-align-center:before, .ico-align-right:before, .ico-align-justify:before, .ico-list-3:before, .ico-indent-left:before, .ico-indent-right:before, .ico-facetime-video:before, .ico-picture-2:before, .ico-pencil-2:before, .ico-map-marker:before, .ico-adjust:before, .ico-tint:before, .ico-edit-2:before, .ico-share:before, .ico-check:before, .ico-move:before, .ico-step-backward:before, .ico-fast-backward:before, .ico-backward:before, .ico-play:before, .ico-pause:before, .ico-stop-2:before, .ico-forward-2:before, .ico-fast-forward:before, .ico-step-forward:before, .ico-eject:before, .ico-chevron-left:before, .ico-chevron-right:before, .ico-plus-sign:before, .ico-minus-sign:before, .ico-remove-sign:before, .ico-ok-sign:before, .ico-question-sign:before, .ico-info-sign:before, .ico-screenshot:before, .ico-remove-circle:before, .ico-ok-circle:before, .ico-ban-circle:before, .ico-arrow-left:before, .ico-arrow-right:before, .ico-arrow-up:before, .ico-arrow-down:before, .ico-share-alt:before, .ico-resize-full:before, .ico-resize-small:before, .ico-plus:before, .ico-minus-2:before, .ico-asterisk:before, .ico-exclamation-sign:before, .ico-eye-open:before, .ico-eye-close:before, .ico-warning-sign:before, .ico-plane:before, .ico-calendar:before, .ico-random:before, .ico-comment:before, .ico-magnet:before, .ico-chevron-up:before, .ico-chevron-down:before, .ico-retweet-2:before, .ico-shopping-cart:before, .ico-folder-close:before, .ico-folder-open:before, .ico-resize-vertical:before, .ico-resize-horizontal:before, .ico-bar-chart:before, .ico-cogs-2:before, .ico-comments-2:before, .ico-thumbs-up:before, .ico-thumbs-down:before, .ico-heart-empty:before, .ico-signout:before, .ico-pushpin:before, .ico-external-link:before, .ico-signin:before, .ico-trophy:before, .ico-upload-alt:before, .ico-lemon:before, .ico-phone-4:before, .ico-check-empty:before, .ico-bookmark-empty:before, .ico-phone-sign:before, .ico-facebook:before, .ico-github:before, .ico-unlock:before, .ico-credit:before, .ico-rss:before, .ico-hdd:before, .ico-bullhorn:before, .ico-bell:before, .ico-certificate:before, .ico-hand-right:before, .ico-hand-left:before, .ico-hand-up:before, .ico-hand-down:before, .ico-circle-arrow-left:before, .ico-circle-arrow-right:before, .ico-circle-arrow-up:before, .ico-circle-arrow-down:before, .ico-globe-3:before, .ico-wrench:before, .ico-tasks:before, .ico-filter:before, .ico-briefcase:before, .ico-fullscreen:before, .ico-group:before, .ico-link:before, .ico-cloud-2:before, .ico-beaker:before, .ico-copy:before, .ico-paper-clip:before, .ico-table:before, .ico-money:before, .ico-caret-down:before, .ico-caret-up:before, .ico-caret-left:before, .ico-caret-right:before, .ico-columns:before, .ico-sort:before, .ico-sort-down:before, .ico-sort-up:before, .ico-envelope-alt:before, .ico-undo:before, .ico-comment-alt:before, .ico-comments-alt:before, .ico-bolt:before, .ico-exchange:before, .ico-cloud-download:before, .ico-cloud-upload:before, .ico-file-alt:before, .ico-double-angle-left:before, .ico-double-angle-right:before, .ico-double-angle-up:before, .ico-double-angle-down:before, .ico-angle-left:before, .ico-angle-right:before, .ico-angle-up:before, .ico-angle-down:before, .ico-desktop:before, .ico-laptop:before, .ico-tablet-2:before, .ico-mobile:before, .ico-circle:before, .ico-reply-2:before, .ico-folder-close-alt:before, .ico-folder-open-alt:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-cabinet:before {
	content: "\e1dd";
}
.ico-cabinet-2:before {
	content: "\e1de";
}
.ico-file:before {
	content: "\e1e2";
}
.ico-file-2:before {
	content: "\e1e3";
}
.ico-file-3:before {
	content: "\e1e4";
}
.ico-files:before {
	content: "\e1e5";
}
.ico-phone:before {
	content: "\e1e6";
}
.ico-tablet:before {
	content: "\e1e7";
}
.ico-window:before {
	content: "\e1e8";
}
.ico-monitor:before {
	content: "\e1e9";
}
.ico-film:before {
	content: "\e1f0";
}
.ico-inbox:before {
	content: "\e1fd";
}
.ico-download:before {
	content: "\e1fe";
}
.ico-upload:before {
	content: "\e1ff";
}
.ico-inbox-2:before {
	content: "\e200";
}
.ico-cog:before {
	content: "\e20b";
}
.ico-cogs:before {
	content: "\e20c";
}
.ico-cog-2:before {
	content: "\e20d";
}
.ico-warning:before {
	content: "\e20e";
}
.ico-picture:before {
	content: "\e213";
}
.ico-pictures:before {
	content: "\e214";
}
.ico-pictures-2:before {
	content: "\e215";
}
.ico-alarm-clock:before {
	content: "\e21d";
}
.ico-time:before {
	content: "\e21f";
}
.ico-checkmark:before {
	content: "\e222";
}
.ico-cancel:before {
	content: "\e223";
}
.ico-eye:before {
	content: "\e224";
}
.ico-site-map:before {
	content: "\e226";
}
.ico-site-map-2:before {
	content: "\e227";
}
.ico-cloud:before {
	content: "\e228";
}
.ico-upload-2:before {
	content: "\e229";
}
.ico-chart:before {
	content: "\e22a";
}
.ico-chart-2:before {
	content: "\e22b";
}
.ico-chart-3:before {
	content: "\e22c";
}
.ico-chart-4:before {
	content: "\e22d";
}
.ico-chart-5:before {
	content: "\e22e";
}
.ico-chart-6:before {
	content: "\e22f";
}
.ico-location:before {
	content: "\e230";
}
.ico-download-2:before {
	content: "\e231";
}
.ico-folder:before {
	content: "\e233";
}
.ico-alarm:before {
	content: "\e235";
}
.ico-alarm-cancel:before {
	content: "\e236";
}
.ico-phone-2:before {
	content: "\e237";
}
.ico-phone-3:before {
	content: "\e238";
}
.ico-image:before {
	content: "\e239";
}
.ico-open:before {
	content: "\e23a";
}
.ico-sale:before {
	content: "\e23b";
}
.ico-direction:before {
	content: "\e23c";
}
.ico-map:before {
	content: "\e23d";
}
.ico-trashcan:before {
	content: "\e23e";
}
.ico-vote:before {
	content: "\e23f";
}
.ico-lab:before {
	content: "\e241";
}
.ico-locked:before {
	content: "\e25a";
}
.ico-unlocked:before {
	content: "\e25b";
}
.ico-locked-2:before {
	content: "\e25c";
}
.ico-unlocked-2:before {
	content: "\e25d";
}
.ico-magnifier:before {
	content: "\e25e";
}
.ico-zoom-in:before {
	content: "\e25f";
}
.ico-zoom-out:before {
	content: "\e260";
}
.ico-stack:before {
	content: "\e261";
}
.ico-stack-2:before {
	content: "\e262";
}
.ico-stack-3:before {
	content: "\e263";
}
.ico-archive:before {
	content: "\e270";
}
.ico-battery:before {
	content: "\e271";
}
.ico-battery-2:before {
	content: "\e272";
}
.ico-battery-3:before {
	content: "\e273";
}
.ico-battery-4:before {
	content: "\e274";
}
.ico-battery-5:before {
	content: "\e275";
}
.ico-megaphone:before {
	content: "\e276";
}
.ico-megaphone-2:before {
	content: "\e277";
}
.ico-patch:before {
	content: "\e278";
}
.ico-pil:before {
	content: "\e279";
}
.ico-injection:before {
	content: "\e27a";
}
.ico-thermometer:before {
	content: "\e27b";
}
.ico-lamp:before {
	content: "\e27c";
}
.ico-lamp-2:before {
	content: "\e27d";
}
.ico-lamp-3:before {
	content: "\e27e";
}
.ico-cube:before {
	content: "\e27f";
}
.ico-box:before {
	content: "\e280";
}
.ico-box-2:before {
	content: "\e281";
}
.ico-diamond:before {
	content: "\e282";
}
.ico-bag:before {
	content: "\e283";
}
.ico-money-bag:before {
	content: "\e284";
}
.ico-grid:before {
	content: "\e285";
}
.ico-grid-2:before {
	content: "\e286";
}
.ico-list:before {
	content: "\e287";
}
.ico-list-2:before {
	content: "\e288";
}
.ico-ruler:before {
	content: "\e289";
}
.ico-ruler-2:before {
	content: "\e28a";
}
.ico-layout:before {
	content: "\e28b";
}
.ico-layout-2:before {
	content: "\e28c";
}
.ico-layout-3:before {
	content: "\e28d";
}
.ico-layout-4:before {
	content: "\e28e";
}
.ico-layout-5:before {
	content: "\e28f";
}
.ico-layout-6:before {
	content: "\e290";
}
.ico-layout-7:before {
	content: "\e291";
}
.ico-layout-8:before {
	content: "\e292";
}
.ico-layout-9:before {
	content: "\e293";
}
.ico-layout-10:before {
	content: "\e294";
}
.ico-layout-11:before {
	content: "\e295";
}
.ico-layout-12:before {
	content: "\e296";
}
.ico-layout-13:before {
	content: "\e297";
}
.ico-layout-14:before {
	content: "\e298";
}
.ico-tools:before {
	content: "\e299";
}
.ico-screwdriver:before {
	content: "\e29a";
}
.ico-paint:before {
	content: "\e29b";
}
.ico-hammer:before {
	content: "\e29c";
}
.ico-brush:before {
	content: "\e29d";
}
.ico-pen:before {
	content: "\e29e";
}
.ico-chat:before {
	content: "\e29f";
}
.ico-comments:before {
	content: "\e2a0";
}
.ico-chat-2:before {
	content: "\e2a1";
}
.ico-chat-3:before {
	content: "\e2a2";
}
.ico-volume:before {
	content: "\e2a3";
}
.ico-volume-2:before {
	content: "\e2a4";
}
.ico-volume-3:before {
	content: "\e2a5";
}
.ico-equalizer:before {
	content: "\e2a6";
}
.ico-resize:before {
	content: "\e2a7";
}
.ico-resize-2:before {
	content: "\e2a8";
}
.ico-download-3:before {
	content: "\e2ac";
}
.ico-stats:before {
	content: "\e2b1";
}
.ico-stats-2:before {
	content: "\e2b2";
}
.ico-attachment:before {
	content: "\e2b3";
}
.ico-hourglass:before {
	content: "\e2b4";
}
.ico-pencil:before {
	content: "\e2b6";
}
.ico-pen-2:before {
	content: "\e2b7";
}
.ico-pin:before {
	content: "\e2b8";
}
.ico-pin-2:before {
	content: "\e2b9";
}
.ico-discout:before {
	content: "\e2ba";
}
.ico-edit:before {
	content: "\e2bb";
}
.ico-scissors:before {
	content: "\e2bc";
}
.ico-profile:before {
	content: "\e2bf";
}
.ico-rotate:before {
	content: "\e2c0";
}
.ico-rotate-2:before {
	content: "\e2c1";
}
.ico-reply:before {
	content: "\e2c2";
}
.ico-forward:before {
	content: "\e2c3";
}
.ico-retweet:before {
	content: "\e2c4";
}
.ico-shuffle:before {
	content: "\e2c5";
}
.ico-loop:before {
	content: "\e2c6";
}
.ico-crop:before {
	content: "\e2c7";
}
.ico-dollar:before {
	content: "\e2cb";
}
.ico-dollar-2:before {
	content: "\e2cc";
}
.ico-coins:before {
	content: "\e2cd";
}
.ico-pig:before {
	content: "\e2ce";
}
.ico-bookmark:before {
	content: "\e2cf";
}
.ico-bookmark-2:before {
	content: "\e2d0";
}
.ico-address-book:before {
	content: "\e2d1";
}
.ico-address-book-2:before {
	content: "\e2d2";
}
.ico-safe:before {
	content: "\e2d3";
}
.ico-envelope:before {
	content: "\e2d4";
}
.ico-envelope-2:before {
	content: "\e2d5";
}
.ico-heart:before {
	content: "\e2dc";
}
.ico-info:before {
	content: "\e2dd";
}
.ico-info-2:before {
	content: "\e2de";
}
.ico-book:before {
	content: "\e2ef";
}
.ico-book-2:before {
	content: "\e2f0";
}
.ico-barcode:before {
	content: "\e2f1";
}
.ico-barcode-2:before {
	content: "\e2f2";
}
.ico-expand:before {
	content: "\e2f3";
}
.ico-collapse:before {
	content: "\e2f4";
}
.ico-pop-out:before {
	content: "\e2f5";
}
.ico-pop-in:before {
	content: "\e2f6";
}
.ico-cone:before {
	content: "\e2fe";
}
.ico-blocked:before {
	content: "\e2ff";
}
.ico-stop:before {
	content: "\e300";
}
.ico-keyboard:before {
	content: "\e301";
}
.ico-printer:before {
	content: "\e304";
}
.ico-checked:before {
	content: "\e305";
}
.ico-error:before {
	content: "\e306";
}
.ico-add:before {
	content: "\e307";
}
.ico-minus:before {
	content: "\e308";
}
.ico-alert:before {
	content: "\e309";
}
.ico-pictures-3:before {
	content: "\e30a";
}
.ico-atom:before {
	content: "\e30b";
}
.ico-eyedropper:before {
	content: "\e30c";
}
.ico-globe:before {
	content: "\e30d";
}
.ico-globe-2:before {
	content: "\e30e";
}
.ico-shipping:before {
	content: "\e30f";
}
.ico-ying-yang:before {
	content: "\e310";
}
.ico-compass:before {
	content: "\e311";
}
.ico-zip:before {
	content: "\e312";
}
.ico-zip-2:before {
	content: "\e313";
}
.ico-tags:before {
	content: "\e318";
}
.ico-heart-2:before {
	content: "\e319";
}
.ico-heart-3:before {
	content: "\e31a";
}
.ico-usb:before {
	content: "\e31b";
}
.ico-clipboard:before {
	content: "\e31c";
}
.ico-clipboard-2:before {
	content: "\e31d";
}
.ico-clipboard-3:before {
	content: "\e31e";
}
.ico-switch:before {
	content: "\e31f";
}
.ico-ruler-3:before {
	content: "\e320";
}
.ico-glass:before {
	content: "\f000";
}
.ico-music:before {
	content: "\f001";
}
.ico-search:before {
	content: "\f002";
}
.ico-envelope-3:before {
	content: "\f003";
}
.ico-heart-4:before {
	content: "\f004";
}
.ico-star:before {
	content: "\f005";
}
.ico-star-empty:before {
	content: "\f006";
}
.ico-user:before {
	content: "\f007";
}
.ico-film-2:before {
	content: "\f008";
}
.ico-th-large:before {
	content: "\f009";
}
.ico-ok:before {
	content: "\f00c";
}
.ico-remove:before {
	content: "\f00d";
}
.ico-zoom-in-2:before {
	content: "\f00e";
}
.ico-zoom-out-2:before {
	content: "\f010";
}
.ico-off:before {
	content: "\f011";
}
.ico-signal:before {
	content: "\f012";
}
.ico-cog-3:before {
	content: "\f013";
}
.ico-trash:before {
	content: "\f014";
}
.ico-home:before {
	content: "\f015";
}
.ico-file-4:before {
	content: "\f016";
}
.ico-time-2:before {
	content: "\f017";
}
.ico-road:before {
	content: "\f018";
}
.ico-download-alt:before {
	content: "\f019";
}
.ico-download-4:before {
	content: "\f01a";
}
.ico-upload-3:before {
	content: "\f01b";
}
.ico-inbox-3:before {
	content: "\f01c";
}
.ico-play-circle:before {
	content: "\f01d";
}
.ico-repeat:before {
	content: "\f01e";
}
.ico-refresh:before {
	content: "\f021";
}
.ico-list-alt:before {
	content: "\f022";
}
.ico-lock:before {
	content: "\f023";
}
.ico-flag:before {
	content: "\f024";
}
.ico-volume-off:before {
	content: "\f026";
}
.ico-volume-down:before {
	content: "\f027";
}
.ico-volume-up:before {
	content: "\f028";
}
.ico-qrcode:before {
	content: "\f029";
}
.ico-barcode-3:before {
	content: "\f02a";
}
.ico-tag:before {
	content: "\f02b";
}
.ico-tags-2:before {
	content: "\f02c";
}
.ico-book-3:before {
	content: "\f02d";
}
.ico-bookmark-3:before {
	content: "\f02e";
}
.ico-print:before {
	content: "\f02f";
}
.ico-align-left:before {
	content: "\f036";
}
.ico-align-center:before {
	content: "\f037";
}
.ico-align-right:before {
	content: "\f038";
}
.ico-align-justify:before {
	content: "\f039";
}
.ico-list-3:before {
	content: "\f03a";
}
.ico-indent-left:before {
	content: "\f03b";
}
.ico-indent-right:before {
	content: "\f03c";
}
.ico-facetime-video:before {
	content: "\f03d";
}
.ico-picture-2:before {
	content: "\f03e";
}
.ico-pencil-2:before {
	content: "\f040";
}
.ico-map-marker:before {
	content: "\f041";
}
.ico-adjust:before {
	content: "\f042";
}
.ico-tint:before {
	content: "\f043";
}
.ico-edit-2:before {
	content: "\f044";
}
.ico-share:before {
	content: "\f045";
}
.ico-check:before {
	content: "\f046";
}
.ico-move:before {
	content: "\f047";
}
.ico-step-backward:before {
	content: "\f048";
}
.ico-fast-backward:before {
	content: "\f049";
}
.ico-backward:before {
	content: "\f04a";
}
.ico-play:before {
	content: "\f04b";
}
.ico-pause:before {
	content: "\f04c";
}
.ico-stop-2:before {
	content: "\f04d";
}
.ico-forward-2:before {
	content: "\f04e";
}
.ico-fast-forward:before {
	content: "\f050";
}
.ico-step-forward:before {
	content: "\f051";
}
.ico-eject:before {
	content: "\f052";
}
.ico-chevron-left:before {
	content: "\f053";
}
.ico-chevron-right:before {
	content: "\f054";
}
.ico-plus-sign:before {
	content: "\f055";
}
.ico-minus-sign:before {
	content: "\f056";
}
.ico-remove-sign:before {
	content: "\f057";
}
.ico-ok-sign:before {
	content: "\f058";
}
.ico-question-sign:before {
	content: "\f059";
}
.ico-info-sign:before {
	content: "\f05a";
}
.ico-screenshot:before {
	content: "\f05b";
}
.ico-remove-circle:before {
	content: "\f05c";
}
.ico-ok-circle:before {
	content: "\f05d";
}
.ico-ban-circle:before {
	content: "\f05e";
}
.ico-arrow-left:before {
	content: "\f060";
}
.ico-arrow-right:before {
	content: "\f061";
}
.ico-arrow-up:before {
	content: "\f062";
}
.ico-arrow-down:before {
	content: "\f063";
}
.ico-share-alt:before {
	content: "\f064";
}
.ico-resize-full:before {
	content: "\f065";
}
.ico-resize-small:before {
	content: "\f066";
}
.ico-plus:before {
	content: "\f067";
}
.ico-minus-2:before {
	content: "\f068";
}
.ico-asterisk:before {
	content: "\f069";
}
.ico-exclamation-sign:before {
	content: "\f06a";
}
.ico-eye-open:before {
	content: "\f06e";
}
.ico-eye-close:before {
	content: "\f070";
}
.ico-warning-sign:before {
	content: "\f071";
}
.ico-plane:before {
	content: "\f072";
}
.ico-calendar:before {
	content: "\f073";
}
.ico-random:before {
	content: "\f074";
}
.ico-comment:before {
	content: "\f075";
}
.ico-magnet:before {
	content: "\f076";
}
.ico-chevron-up:before {
	content: "\f077";
}
.ico-chevron-down:before {
	content: "\f078";
}
.ico-retweet-2:before {
	content: "\f079";
}
.ico-shopping-cart:before {
	content: "\f07a";
}
.ico-folder-close:before {
	content: "\f07b";
}
.ico-folder-open:before {
	content: "\f07c";
}
.ico-resize-vertical:before {
	content: "\f07d";
}
.ico-resize-horizontal:before {
	content: "\f07e";
}
.ico-bar-chart:before {
	content: "\f080";
}
.ico-cogs-2:before {
	content: "\f085";
}
.ico-comments-2:before {
	content: "\f086";
}
.ico-thumbs-up:before {
	content: "\f087";
}
.ico-thumbs-down:before {
	content: "\f088";
}
.ico-heart-empty:before {
	content: "\f08a";
}
.ico-signout:before {
	content: "\f08b";
}
.ico-pushpin:before {
	content: "\f08d";
}
.ico-external-link:before {
	content: "\f08e";
}
.ico-signin:before {
	content: "\f090";
}
.ico-trophy:before {
	content: "\f091";
}
.ico-upload-alt:before {
	content: "\f093";
}
.ico-lemon:before {
	content: "\f094";
}
.ico-phone-4:before {
	content: "\f095";
}
.ico-check-empty:before {
	content: "\f096";
}
.ico-bookmark-empty:before {
	content: "\f097";
}
.ico-phone-sign:before {
	content: "\f098";
}
.ico-facebook:before {
	content: "\f09a";
}
.ico-github:before {
	content: "\f09b";
}
.ico-unlock:before {
	content: "\f09c";
}
.ico-credit:before {
	content: "\f09d";
}
.ico-rss:before {
	content: "\f09e";
}
.ico-hdd:before {
	content: "\f0a0";
}
.ico-bullhorn:before {
	content: "\f0a1";
}
.ico-bell:before {
	content: "\f0a2";
}
.ico-certificate:before {
	content: "\f0a3";
}
.ico-hand-right:before {
	content: "\f0a4";
}
.ico-hand-left:before {
	content: "\f0a5";
}
.ico-hand-up:before {
	content: "\f0a6";
}
.ico-hand-down:before {
	content: "\f0a7";
}
.ico-circle-arrow-left:before {
	content: "\f0a8";
}
.ico-circle-arrow-right:before {
	content: "\f0a9";
}
.ico-circle-arrow-up:before {
	content: "\f0aa";
}
.ico-circle-arrow-down:before {
	content: "\f0ab";
}
.ico-globe-3:before {
	content: "\f0ac";
}
.ico-wrench:before {
	content: "\f0ad";
}
.ico-tasks:before {
	content: "\f0ae";
}
.ico-filter:before {
	content: "\f0b0";
}
.ico-briefcase:before {
	content: "\f0b1";
}
.ico-fullscreen:before {
	content: "\f0b2";
}
.ico-group:before {
	content: "\f0c0";
}
.ico-link:before {
	content: "\f0c1";
}
.ico-cloud-2:before {
	content: "\f0c2";
}
.ico-beaker:before {
	content: "\f0c3";
}
.ico-copy:before {
	content: "\f0c5";
}
.ico-paper-clip:before {
	content: "\f0c6";
}
.ico-table:before {
	content: "\f0ce";
}
.ico-money:before {
	content: "\f0d6";
}
.ico-caret-down:before {
	content: "\f0d7";
}
.ico-caret-up:before {
	content: "\f0d8";
}
.ico-caret-left:before {
	content: "\f0d9";
}
.ico-caret-right:before {
	content: "\f0da";
}
.ico-columns:before {
	content: "\f0db";
}
.ico-sort:before {
	content: "\f0dc";
}
.ico-sort-down:before {
	content: "\f0dd";
}
.ico-sort-up:before {
	content: "\f0de";
}
.ico-envelope-alt:before {
	content: "\f0e0";
}
.ico-undo:before {
	content: "\f0e2";
}
.ico-comment-alt:before {
	content: "\f0e5";
}
.ico-comments-alt:before {
	content: "\f0e6";
}
.ico-bolt:before {
	content: "\f0e7";
}
.ico-exchange:before {
	content: "\f0ec";
}
.ico-cloud-download:before {
	content: "\f0ed";
}
.ico-cloud-upload:before {
	content: "\f0ee";
}
.ico-file-alt:before {
	content: "\f0f6";
}
.ico-double-angle-left:before {
	content: "\f100";
}
.ico-double-angle-right:before {
	content: "\f101";
}
.ico-double-angle-up:before {
	content: "\f102";
}
.ico-double-angle-down:before {
	content: "\f103";
}
.ico-angle-left:before {
	content: "\f104";
}
.ico-angle-right:before {
	content: "\f105";
}
.ico-angle-up:before {
	content: "\f106";
}
.ico-angle-down:before {
	content: "\f107";
}
.ico-desktop:before {
	content: "\f108";
}
.ico-laptop:before {
	content: "\f109";
}
.ico-tablet-2:before {
	content: "\f10a";
}
.ico-mobile:before {
	content: "\f10b";
}
.ico-circle:before {
	content: "\f111";
}
.ico-reply-2:before {
	content: "\f112";
}
.ico-folder-close-alt:before {
	content: "\f114";
}
.ico-folder-open-alt:before {
	content: "\f115";
}
.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-office:before {
	content: "\e603";
}
.icon-newspaper:before {
	content: "\e604";
}
.icon-pencil:before {
	content: "\e605";
}
.icon-pencil2:before {
	content: "\e606";
}
.icon-quill:before {
	content: "\e607";
}
.icon-pen:before {
	content: "\e608";
}
.icon-blog:before {
	content: "\e609";
}
.icon-droplet:before {
	content: "\e60a";
}
.icon-paint-format:before {
	content: "\e60b";
}
.icon-image:before {
	content: "\e60c";
}
.icon-image2:before {
	content: "\e60d";
}
.icon-images:before {
	content: "\e60e";
}
.icon-camera:before {
	content: "\e60f";
}
.icon-music:before {
	content: "\e610";
}
.icon-headphones:before {
	content: "\e611";
}
.icon-play:before {
	content: "\e612";
}
.icon-film:before {
	content: "\e613";
}
.icon-camera2:before {
	content: "\e614";
}
.icon-dice:before {
	content: "\e615";
}
.icon-pacman:before {
	content: "\e616";
}
.icon-spades:before {
	content: "\e617";
}
.icon-clubs:before {
	content: "\e618";
}
.icon-diamonds:before {
	content: "\e619";
}
.icon-pawn:before {
	content: "\e61a";
}
.icon-bullhorn:before {
	content: "\e61b";
}
.icon-connection:before {
	content: "\e61c";
}
.icon-podcast:before {
	content: "\e61d";
}
.icon-feed:before {
	content: "\e61e";
}
.icon-book:before {
	content: "\e61f";
}
.icon-books:before {
	content: "\e620";
}
.icon-library:before {
	content: "\e621";
}
.icon-file:before {
	content: "\e622";
}
.icon-profile:before {
	content: "\e623";
}
.icon-file2:before {
	content: "\e624";
}
.icon-file3:before {
	content: "\e625";
}
.icon-file4:before {
	content: "\e626";
}
.icon-copy:before {
	content: "\e627";
}
.icon-copy2:before {
	content: "\e628";
}
.icon-copy3:before {
	content: "\e629";
}
.icon-paste:before {
	content: "\e62a";
}
.icon-paste2:before {
	content: "\e62b";
}
.icon-paste3:before {
	content: "\e62c";
}
.icon-stack:before {
	content: "\e62d";
}
.icon-folder:before {
	content: "\e62e";
}
.icon-folder-open:before {
	content: "\e62f";
}
.icon-tag:before {
	content: "\e630";
}
.icon-tags:before {
	content: "\e631";
}
.icon-barcode:before {
	content: "\e632";
}
.icon-qrcode:before {
	content: "\e633";
}
.icon-ticket:before {
	content: "\e634";
}
.icon-cart:before {
	content: "\e635";
}
.icon-cart2:before {
	content: "\e636";
}
.icon-cart3:before {
	content: "\e637";
}
.icon-coin:before {
	content: "\e638";
}
.icon-credit:before {
	content: "\e639";
}
.icon-calculate:before {
	content: "\e63a";
}
.icon-support:before {
	content: "\e63b";
}
.icon-phone:before {
	content: "\e63c";
}
.icon-phone-hang-up:before {
	content: "\e63d";
}
.icon-address-book:before {
	content: "\e63e";
}
.icon-notebook:before {
	content: "\e63f";
}
.icon-envelope:before {
	content: "\e640";
}
.icon-pushpin:before {
	content: "\e641";
}
.icon-location:before {
	content: "\e642";
}
.icon-location2:before {
	content: "\e643";
}
.icon-compass:before {
	content: "\e644";
}
.icon-map:before {
	content: "\e645";
}
.icon-map2:before {
	content: "\e646";
}
.icon-history:before {
	content: "\e647";
}
.icon-clock:before {
	content: "\e648";
}
.icon-clock2:before {
	content: "\e649";
}
.icon-alarm:before {
	content: "\e64a";
}
.icon-alarm2:before {
	content: "\e64b";
}
.icon-bell:before {
	content: "\e64c";
}
.icon-stopwatch:before {
	content: "\e64d";
}
.icon-calendar:before {
	content: "\e64e";
}
.icon-calendar2:before {
	content: "\e64f";
}
.icon-print:before {
	content: "\e650";
}
.icon-keyboard:before {
	content: "\e651";
}
.icon-screen:before {
	content: "\e652";
}
.icon-laptop:before {
	content: "\e653";
}
.icon-mobile:before {
	content: "\e654";
}
.icon-mobile2:before {
	content: "\e655";
}
.icon-tablet:before {
	content: "\e656";
}
.icon-tv:before {
	content: "\e657";
}
.icon-cabinet:before {
	content: "\e658";
}
.icon-drawer:before {
	content: "\e659";
}
.icon-drawer2:before {
	content: "\e65a";
}
.icon-drawer3:before {
	content: "\e65b";
}
.icon-box-add:before {
	content: "\e65c";
}
.icon-box-remove:before {
	content: "\e65d";
}
.icon-download:before {
	content: "\e65e";
}
.icon-upload:before {
	content: "\e65f";
}
.icon-disk:before {
	content: "\e660";
}
.icon-storage:before {
	content: "\e661";
}
.icon-undo:before {
	content: "\e662";
}
.icon-redo:before {
	content: "\e663";
}
.icon-flip:before {
	content: "\e664";
}
.icon-flip2:before {
	content: "\e665";
}
.icon-undo2:before {
	content: "\e666";
}
.icon-redo2:before {
	content: "\e667";
}
.icon-forward:before {
	content: "\e668";
}
.icon-reply:before {
	content: "\e669";
}
.icon-bubble:before {
	content: "\e66a";
}
.icon-bubbles:before {
	content: "\e66b";
}
.icon-bubbles2:before {
	content: "\e66c";
}
.icon-bubble2:before {
	content: "\e66d";
}
.icon-bubbles3:before {
	content: "\e66e";
}
.icon-bubbles4:before {
	content: "\e66f";
}
.icon-user:before {
	content: "\e670";
}
.icon-users:before {
	content: "\e671";
}
.icon-user2:before {
	content: "\e672";
}
.icon-users2:before {
	content: "\e673";
}
.icon-user3:before {
	content: "\e674";
}
.icon-user4:before {
	content: "\e675";
}
.icon-quotes-left:before {
	content: "\e676";
}
.icon-busy:before {
	content: "\e677";
}
.icon-spinner:before {
	content: "\e678";
}
.icon-spinner2:before {
	content: "\e679";
}
.icon-spinner3:before {
	content: "\e67a";
}
.icon-spinner4:before {
	content: "\e67b";
}
.icon-spinner5:before {
	content: "\e67c";
}
.icon-spinner6:before {
	content: "\e67d";
}
.icon-binoculars:before {
	content: "\e67e";
}
.icon-search:before {
	content: "\e67f";
}
.icon-zoom-in:before {
	content: "\e680";
}
.icon-zoom-out:before {
	content: "\e681";
}
.icon-expand:before {
	content: "\e682";
}
.icon-contract:before {
	content: "\e683";
}
.icon-expand2:before {
	content: "\e684";
}
.icon-contract2:before {
	content: "\e685";
}
.icon-key:before {
	content: "\e686";
}
.icon-key2:before {
	content: "\e687";
}
.icon-lock:before {
	content: "\e688";
}
.icon-lock2:before {
	content: "\e689";
}
.icon-unlocked:before {
	content: "\e68a";
}
.icon-wrench:before {
	content: "\e68b";
}
.icon-settings:before {
	content: "\e68c";
}
.icon-equalizer:before {
	content: "\e68d";
}
.icon-cog:before {
	content: "\e68e";
}
.icon-cogs:before {
	content: "\e68f";
}
.icon-cog2:before {
	content: "\e690";
}
.icon-hammer:before {
	content: "\e691";
}
.icon-wand:before {
	content: "\e692";
}
.icon-aid:before {
	content: "\e693";
}
.icon-bug:before {
	content: "\e694";
}
.icon-pie:before {
	content: "\e695";
}
.icon-stats:before {
	content: "\e696";
}
.icon-bars:before {
	content: "\e697";
}
.icon-bars2:before {
	content: "\e698";
}
.icon-gift:before {
	content: "\e699";
}
.icon-trophy:before {
	content: "\e69a";
}
.icon-glass:before {
	content: "\e69b";
}
.icon-mug:before {
	content: "\e69c";
}
.icon-food:before {
	content: "\e69d";
}
.icon-leaf:before {
	content: "\e69e";
}
.icon-rocket:before {
	content: "\e69f";
}
.icon-meter:before {
	content: "\e6a0";
}
.icon-meter2:before {
	content: "\e6a1";
}
.icon-dashboard:before {
	content: "\e6a2";
}
.icon-hammer2:before {
	content: "\e6a3";
}
.icon-fire:before {
	content: "\e6a4";
}
.icon-lab:before {
	content: "\e6a5";
}
.icon-magnet:before {
	content: "\e6a6";
}
.icon-remove:before {
	content: "\e6a7";
}
.icon-remove2:before {
	content: "\e6a8";
}
.icon-briefcase:before {
	content: "\e6a9";
}
.icon-airplane:before {
	content: "\e6aa";
}
.icon-truck:before {
	content: "\e6ab";
}
.icon-road:before {
	content: "\e6ac";
}
.icon-accessibility:before {
	content: "\e6ad";
}
.icon-target:before {
	content: "\e6ae";
}
.icon-shield:before {
	content: "\e6af";
}
.icon-lightning:before {
	content: "\e6b0";
}
.icon-switch:before {
	content: "\e6b1";
}
.icon-power-cord:before {
	content: "\e6b2";
}
.icon-signup:before {
	content: "\e6b3";
}
.icon-list:before {
	content: "\e6b4";
}
.icon-list2:before {
	content: "\e6b5";
}
.icon-numbered-list:before {
	content: "\e6b6";
}
.icon-menu:before {
	content: "\e6b7";
}
.icon-menu2:before {
	content: "\e6b8";
}
.icon-tree:before {
	content: "\e6b9";
}
.icon-cloud:before {
	content: "\e6ba";
}
.icon-cloud-download:before {
	content: "\e6bb";
}
.icon-cloud-upload:before {
	content: "\e6bc";
}
.icon-download2:before {
	content: "\e6bd";
}
.icon-upload2:before {
	content: "\e6be";
}
.icon-download3:before {
	content: "\e6bf";
}
.icon-upload3:before {
	content: "\e6c0";
}
.icon-globe:before {
	content: "\e6c1";
}
.icon-earth:before {
	content: "\e6c2";
}
.icon-link:before {
	content: "\e6c3";
}
.icon-flag:before {
	content: "\e6c4";
}
.icon-attachment:before {
	content: "\e6c5";
}
.icon-eye:before {
	content: "\e6c6";
}
.icon-eye-blocked:before {
	content: "\e6c7";
}
.icon-eye2:before {
	content: "\e6c8";
}
.icon-bookmark:before {
	content: "\e6c9";
}
.icon-bookmarks:before {
	content: "\e6ca";
}
.icon-brightness-medium:before {
	content: "\e6cb";
}
.icon-brightness-contrast:before {
	content: "\e6cc";
}
.icon-contrast:before {
	content: "\e6cd";
}
.icon-star:before {
	content: "\e6ce";
}
.icon-star2:before {
	content: "\e6cf";
}
.icon-star3:before {
	content: "\e6d0";
}
.icon-heart:before {
	content: "\e6d1";
}
.icon-heart2:before {
	content: "\e6d2";
}
.icon-heart-broken:before {
	content: "\e6d3";
}
.icon-thumbs-up:before {
	content: "\e6d4";
}
.icon-thumbs-up2:before {
	content: "\e6d5";
}
.icon-happy:before {
	content: "\e6d6";
}
.icon-happy2:before {
	content: "\e6d7";
}
.icon-smiley:before {
	content: "\e6d8";
}
.icon-smiley2:before {
	content: "\e6d9";
}
.icon-tongue:before {
	content: "\e6da";
}
.icon-tongue2:before {
	content: "\e6db";
}
.icon-sad:before {
	content: "\e6dc";
}
.icon-sad2:before {
	content: "\e6dd";
}
.icon-wink:before {
	content: "\e6de";
}
.icon-wink2:before {
	content: "\e6df";
}
.icon-grin:before {
	content: "\e6e0";
}
.icon-grin2:before {
	content: "\e6e1";
}
.icon-cool:before {
	content: "\e6e2";
}
.icon-cool2:before {
	content: "\e6e3";
}
.icon-angry:before {
	content: "\e6e4";
}
.icon-angry2:before {
	content: "\e6e5";
}
.icon-evil:before {
	content: "\e6e6";
}
.icon-evil2:before {
	content: "\e6e7";
}
.icon-shocked:before {
	content: "\e6e8";
}
.icon-shocked2:before {
	content: "\e6e9";
}
.icon-confused:before {
	content: "\e6ea";
}
.icon-confused2:before {
	content: "\e6eb";
}
.icon-neutral:before {
	content: "\e6ec";
}
.icon-neutral2:before {
	content: "\e6ed";
}
.icon-wondering:before {
	content: "\e6ee";
}
.icon-wondering2:before {
	content: "\e6ef";
}
.icon-point-up:before {
	content: "\e6f0";
}
.icon-point-right:before {
	content: "\e6f1";
}
.icon-point-down:before {
	content: "\e6f2";
}
.icon-point-left:before {
	content: "\e6f3";
}
.icon-warning:before {
	content: "\e6f4";
}
.icon-notification:before {
	content: "\e6f5";
}
.icon-question:before {
	content: "\e6f6";
}
.icon-info:before {
	content: "\e6f7";
}
.icon-info2:before {
	content: "\e6f8";
}
.icon-blocked:before {
	content: "\e6f9";
}
.icon-cancel-circle:before {
	content: "\e6fa";
}
.icon-checkmark-circle:before {
	content: "\e6fb";
}
.icon-spam:before {
	content: "\e6fc";
}
.icon-close:before {
	content: "\e6fd";
}
.icon-checkmark:before {
	content: "\e6fe";
}
.icon-checkmark2:before {
	content: "\e6ff";
}
.icon-spell-check:before {
	content: "\e700";
}
.icon-minus:before {
	content: "\e701";
}
.icon-plus:before {
	content: "\e702";
}
.icon-enter:before {
	content: "\e703";
}
.icon-exit:before {
	content: "\e704";
}
.icon-play2:before {
	content: "\e705";
}
.icon-pause:before {
	content: "\e706";
}
.icon-stop:before {
	content: "\e707";
}
.icon-backward:before {
	content: "\e708";
}
.icon-forward2:before {
	content: "\e709";
}
.icon-play3:before {
	content: "\e70a";
}
.icon-pause2:before {
	content: "\e70b";
}
.icon-stop2:before {
	content: "\e70c";
}
.icon-backward2:before {
	content: "\e70d";
}
.icon-forward3:before {
	content: "\e70e";
}
.icon-first:before {
	content: "\e70f";
}
.icon-last:before {
	content: "\e710";
}
.icon-previous:before {
	content: "\e711";
}
.icon-next:before {
	content: "\e712";
}
.icon-eject:before {
	content: "\e713";
}
.icon-volume-high:before {
	content: "\e714";
}
.icon-volume-medium:before {
	content: "\e715";
}
.icon-volume-low:before {
	content: "\e716";
}
.icon-volume-mute:before {
	content: "\e717";
}
.icon-volume-mute2:before {
	content: "\e718";
}
.icon-volume-increase:before {
	content: "\e719";
}
.icon-volume-decrease:before {
	content: "\e71a";
}
.icon-loop:before {
	content: "\e71b";
}
.icon-loop2:before {
	content: "\e71c";
}
.icon-loop3:before {
	content: "\e71d";
}
.icon-shuffle:before {
	content: "\e71e";
}
.icon-arrow-up-left:before {
	content: "\e71f";
}
.icon-arrow-up:before {
	content: "\e720";
}
.icon-arrow-up-right:before {
	content: "\e721";
}
.icon-arrow-right:before {
	content: "\e722";
}
.icon-arrow-down-right:before {
	content: "\e723";
}
.icon-arrow-down:before {
	content: "\e724";
}
.icon-arrow-down-left:before {
	content: "\e725";
}
.icon-arrow-left:before {
	content: "\e726";
}
.icon-arrow-up-left2:before {
	content: "\e727";
}
.icon-arrow-up2:before {
	content: "\e728";
}
.icon-arrow-up-right2:before {
	content: "\e729";
}
.icon-arrow-right2:before {
	content: "\e72a";
}
.icon-arrow-down-right2:before {
	content: "\e72b";
}
.icon-arrow-down2:before {
	content: "\e72c";
}
.icon-arrow-down-left2:before {
	content: "\e72d";
}
.icon-arrow-left2:before {
	content: "\e72e";
}
.icon-arrow-up-left3:before {
	content: "\e72f";
}
.icon-arrow-up3:before {
	content: "\e730";
}
.icon-arrow-up-right3:before {
	content: "\e731";
}
.icon-arrow-right3:before {
	content: "\e732";
}
.icon-arrow-down-right3:before {
	content: "\e733";
}
.icon-arrow-down3:before {
	content: "\e734";
}
.icon-arrow-down-left3:before {
	content: "\e735";
}
.icon-arrow-left3:before {
	content: "\e736";
}
.icon-tab:before {
	content: "\e737";
}
.icon-checkbox-checked:before {
	content: "\e738";
}
.icon-checkbox-unchecked:before {
	content: "\e739";
}
.icon-checkbox-partial:before {
	content: "\e73a";
}
.icon-radio-checked:before {
	content: "\e73b";
}
.icon-radio-unchecked:before {
	content: "\e73c";
}
.icon-crop:before {
	content: "\e73d";
}
.icon-scissors:before {
	content: "\e73e";
}
.icon-filter:before {
	content: "\e73f";
}
.icon-filter2:before {
	content: "\e740";
}
.icon-font:before {
	content: "\e741";
}
.icon-text-height:before {
	content: "\e742";
}
.icon-text-width:before {
	content: "\e743";
}
.icon-bold:before {
	content: "\e744";
}
.icon-underline:before {
	content: "\e745";
}
.icon-italic:before {
	content: "\e746";
}
.icon-strikethrough:before {
	content: "\e747";
}
.icon-omega:before {
	content: "\e748";
}
.icon-sigma:before {
	content: "\e749";
}
.icon-table:before {
	content: "\e74a";
}
.icon-table2:before {
	content: "\e74b";
}
.icon-insert-template:before {
	content: "\e74c";
}
.icon-pilcrow:before {
	content: "\e74d";
}
.icon-left-toright:before {
	content: "\e74e";
}
.icon-right-toleft:before {
	content: "\e74f";
}
.icon-paragraph-left:before {
	content: "\e750";
}
.icon-paragraph-center:before {
	content: "\e751";
}
.icon-paragraph-right:before {
	content: "\e752";
}
.icon-paragraph-justify:before {
	content: "\e753";
}
.icon-paragraph-left2:before {
	content: "\e754";
}
.icon-paragraph-center2:before {
	content: "\e755";
}
.icon-paragraph-right2:before {
	content: "\e756";
}
.icon-paragraph-justify2:before {
	content: "\e757";
}
.icon-indent-increase:before {
	content: "\e758";
}
.icon-indent-decrease:before {
	content: "\e759";
}
.icon-new-tab:before {
	content: "\e75a";
}
.icon-embed:before {
	content: "\e75b";
}
.icon-code:before {
	content: "\e75c";
}
.icon-console:before {
	content: "\e75d";
}
.icon-share:before {
	content: "\e75e";
}
.icon-mail:before {
	content: "\e75f";
}
.icon-mail2:before {
	content: "\e760";
}
.icon-mail3:before {
	content: "\e761";
}
.icon-mail4:before {
	content: "\e762";
}
.icon-google:before {
	content: "\e763";
}
.icon-google-plus:before {
	content: "\e764";
}
.icon-google-plus2:before {
	content: "\e765";
}
.icon-google-plus3:before {
	content: "\e766";
}
.icon-google-plus4:before {
	content: "\e767";
}
.icon-google-drive:before {
	content: "\e768";
}
.icon-facebook:before {
	content: "\e769";
}
.icon-facebook2:before {
	content: "\e76a";
}
.icon-facebook3:before {
	content: "\e76b";
}
.icon-instagram:before {
	content: "\e76c";
}
.icon-twitter:before {
	content: "\e76d";
}
.icon-twitter2:before {
	content: "\e76e";
}
.icon-twitter3:before {
	content: "\e76f";
}
.icon-feed2:before {
	content: "\e770";
}
.icon-feed3:before {
	content: "\e771";
}
.icon-feed4:before {
	content: "\e772";
}
.icon-youtube:before {
	content: "\e773";
}
.icon-youtube2:before {
	content: "\e774";
}
.icon-vimeo:before {
	content: "\e775";
}
.icon-vimeo2:before {
	content: "\e776";
}
.icon-vimeo3:before {
	content: "\e777";
}
.icon-lanyrd:before {
	content: "\e778";
}
.icon-flickr:before {
	content: "\e779";
}
.icon-flickr2:before {
	content: "\e77a";
}
.icon-flickr3:before {
	content: "\e77b";
}
.icon-flickr4:before {
	content: "\e77c";
}
.icon-picassa:before {
	content: "\e77d";
}
.icon-picassa2:before {
	content: "\e77e";
}
.icon-dribbble:before {
	content: "\e77f";
}
.icon-dribbble2:before {
	content: "\e780";
}
.icon-dribbble3:before {
	content: "\e781";
}
.icon-forrst:before {
	content: "\e782";
}
.icon-forrst2:before {
	content: "\e783";
}
.icon-deviantart:before {
	content: "\e784";
}
.icon-deviantart2:before {
	content: "\e785";
}
.icon-steam:before {
	content: "\e786";
}
.icon-steam2:before {
	content: "\e787";
}
.icon-github:before {
	content: "\e788";
}
.icon-github2:before {
	content: "\e789";
}
.icon-github3:before {
	content: "\e78a";
}
.icon-github4:before {
	content: "\e78b";
}
.icon-github5:before {
	content: "\e78c";
}
.icon-wordpress:before {
	content: "\e78d";
}
.icon-wordpress2:before {
	content: "\e78e";
}
.icon-joomla:before {
	content: "\e78f";
}
.icon-blogger:before {
	content: "\e790";
}
.icon-blogger2:before {
	content: "\e791";
}
.icon-tumblr:before {
	content: "\e792";
}
.icon-tumblr2:before {
	content: "\e793";
}
.icon-yahoo:before {
	content: "\e794";
}
.icon-tux:before {
	content: "\e795";
}
.icon-apple:before {
	content: "\e796";
}
.icon-finder:before {
	content: "\e797";
}
.icon-android:before {
	content: "\e798";
}
.icon-windows:before {
	content: "\e799";
}
.icon-windows8:before {
	content: "\e79a";
}
.icon-soundcloud:before {
	content: "\e79b";
}
.icon-soundcloud2:before {
	content: "\e79c";
}
.icon-skype:before {
	content: "\e79d";
}
.icon-reddit:before {
	content: "\e79e";
}
.icon-linkedin:before {
	content: "\e79f";
}
.icon-lastfm:before {
	content: "\e7a0";
}
.icon-lastfm2:before {
	content: "\e7a1";
}
.icon-delicious:before {
	content: "\e7a2";
}
.icon-stumbleupon:before {
	content: "\e7a3";
}
.icon-stumbleupon2:before {
	content: "\e7a4";
}
.icon-stackoverflow:before {
	content: "\e7a5";
}
.icon-pinterest:before {
	content: "\e7a6";
}
.icon-pinterest2:before {
	content: "\e7a7";
}
.icon-xing:before {
	content: "\e7a8";
}
.icon-xing2:before {
	content: "\e7a9";
}
.icon-flattr:before {
	content: "\e7aa";
}
.icon-foursquare:before {
	content: "\e7ab";
}
.icon-foursquare2:before {
	content: "\e7ac";
}
.icon-paypal:before {
	content: "\e7ad";
}
.icon-paypal2:before {
	content: "\e7ae";
}
.icon-paypal3:before {
	content: "\e7af";
}
.icon-yelp:before {
	content: "\e7b0";
}
.icon-libreoffice:before {
	content: "\e7b1";
}
.icon-file-pdf:before {
	content: "\e7b2";
}
.icon-file-openoffice:before {
	content: "\e7b3";
}
.icon-file-word:before {
	content: "\e7b4";
}
.icon-file-excel:before {
	content: "\e7b5";
}
.icon-file-zip:before {
	content: "\e7b6";
}
.icon-file-powerpoint:before {
	content: "\e7b7";
}
.icon-file-xml:before {
	content: "\e7b8";
}
.icon-file-css:before {
	content: "\e7b9";
}
.icon-html5:before {
	content: "\e7ba";
}
.icon-html52:before {
	content: "\e7bb";
}
.icon-css3:before {
	content: "\e7bc";
}
.icon-chrome:before {
	content: "\e7bd";
}
.icon-firefox:before {
	content: "\e7be";
}
.icon-IE:before {
	content: "\e7bf";
}
.icon-opera:before {
	content: "\e7c0";
}
.icon-safari:before {
	content: "\e7c1";
}
.icon-IcoMoon:before {
	content: "\e7c2";
}
