@font-face {
	font-family: 'icomoon';
	src:url('IconSocial/fonts/icomoon.eot');
	src:url('IconSocial/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('IconSocial/fonts/icomoon.ttf') format('truetype'),
		url('IconSocial/fonts/icomoon.woff') format('woff'),
		url('IconSocial/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconSocial-"], [class*=" iconSocial-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconSocial-facebook:before {
	content: "\e769";
}
.iconSocial-google-plus:before {
	content: "\e764";
}
.iconSocial-android:before {
	content: "\e798";
}
.iconSocial-windows8:before {
	content: "\e79a";
}
.iconSocial-linkedin:before {
	content: "\e79f";
}
.iconSocial-google:before {
	content: "\e763";
}
.iconSocial-google-plus3:before {
	content: "\e766";
}
.iconSocial-facebook2:before {
	content: "\e76a";
}
.iconSocial-twitter:before {
	content: "\e76d";
}
.iconSocial-twitter2:before {
	content: "\e76e";
}
.iconSocial-spam:before {
	content: "\e6fc";
}
.iconSocial-checkmark-circle:before {
	content: "\e6fb";
}
.iconSocial-cancel-circle:before {
	content: "\e6fa";
}
