/* please use this file for your own styles 
 * it's need for easiest update of newest wersions
*/
.widgets {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}
.widget {
    margin-right: 20px;
    padding: 10px;
    width: 280px;
    height: 110px;
    margin-bottom: 20px;
    display: inline-block;
}
.block {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}